*{
    margin:0;
    background-color: #b4d9ee;
    font-family: sans-serif;

}


h2{
    text-align:center;
    vertical-align: center;
    padding-top: 10px;
}

h3{
    text-align:center;
    vertical-align: center;
    padding: 10px;
    margin: 5px;
}

.create{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;

}

.lowernavbar{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.itemlist{
display: flex;
border: solid 2px #FF9196;
align-content: center;
justify-content: center;
flex-wrap: wrap;


}

.button{
    background-color:#64C8B9;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #64C8B9;
    margin: 5px;
    font-size: 12px;
}

.link{
    background-color:#64C8B9;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #64C8B9;
    margin: 5px;
    text-decoration: none;
    font-size: 12px;
    color: black;
}


.input{
    padding: 10px;
    border-radius: 5px;
    border: solid 2px black;
    margin: 5px;
}

.todoitem1 {
    text-align: left;
    justify-content: left;
    width: 500px;
    padding: 8px;
    color: black;
    border-radius: 5px;
    margin: 15px;
    background-color: #64C8B9;
}

.todoitem2 {
    text-align: left;
    justify-content: left;
    width: 500px;
    padding: 8px;
    color: white;
    border-radius: 5px;
    margin: 15px;
    background-color: #8C2D4B;
}

.buttonBack{
    text-align: center;
    justify-content: center;
    background-color: #777777;
    border-radius: 5px;
}

.check2{
    background-color: transparent;
    padding: 2px;
    color:white;

}

.check1{
    background-color: transparent;
    padding: 2px;
    color: black;
}





